[package]
name = "venues"
version = "0.1.0"
edition = "2021"

[dependencies]
# Internal dependencies
websockets = { path = "../websockets" }
rest = { path = "../rest" }

# External dependencies
tokio = { version = "1.0", features = ["full"] }
tokio-tungstenite = { version = "0.26.2", features = ["native-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_urlencoded = "0.7"
reqwest = { version = "0.12.15", features = ["json"] }
hmac = "0.12"
sha2 = "0.10"
hex = "0.4"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
async-trait = "0.1"
thiserror = "2.0.12"
parking_lot.workspace = true
tracing.workspace = true
ratatui = { workspace = true }
crossterm = { workspace = true }
rust_decimal.workspace = true
dotenv = "0.15"
clap.workspace = true
aes-gcm = "0.10.3"
base64 = "0.22.1"
rand = "0.9.1"
governor = "0.10.0"
nonzero_ext = "0.3"
binance_macros = { path = "../binance_macros" }
url.workspace = true
num_enum = "0.7.3"
secrecy = "0.10.3"
async-stream = "0.3"

[lints]
workspace = true

[[example]]
name = "cryptocom_rate_limit"
path = "examples/cryptocom/rate_limit_example.rs"

[[example]]
name = "okx_get_underlying"
path = "examples/okx/get_underlying.rs"

[dev-dependencies]
tokio-test = "0.4"
tracing-subscriber = { workspace = true }
